@use "./variables" as *;
.btn {
  padding: 10px 24px;
  border-radius: 10px;
  border: transparent;
  background-color: $point-color;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    background-color: #2359ce;
  }
}
