/* variables */

/* color */
$main-color: #f0faff;
$sub-color: #dce7fb;
$point-color: #296af1;
$grey-color: #f1f1f1;
$font-color: #092857;
$sub-font-color: #555555;
$border-color: #888888;

/* font-size */
$main-title: 45px;
$medium-txt-1: 34px;
$medium-txt-2: 24px;
$small-txt: 18px;

$esti-large-txt: 26px;
$esti-medium-txt: 20px;

$btn-large: 30px;

/* spacing */
$web-spacing: 100px;
$tab-spacing: 50px;
$mo-spacing: 30px;
